body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background-image: url(./image/background.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.leaderboard-container{
    background-color: #b89e8f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
    color: rgb(108, 71, 3);
    font-weight: bolder;
}

h2{
    font-size: 40px;
    color: #5b2c00;
    font-weight: bolder;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td{
    padding: 12px;
    border: 1px solid #1a5426;
    text-align: center;
}

th{
    background-color: #f0f0f0;
    color: #5e3002;
    font-weight: bold;
}

tr:hover{
    background-color: #f1f1f1;
}

button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}

.button-container {
    margin-top: 20px;
}

.button-container button{
    margin: 5px;
    padding: 10px 20px;
    background-color: #60360f;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.button-container button:hover{
    background-color: rgb(111,77,13);
}
