body{
    background-image: url('image/background.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

.container{
    background: rgba(0,0,0,0.7);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 700px;
    height: 500px;
}

h1{
    font-size: 45px;
    margin-bottom: 20px;
    color: #ffd700;
}

.button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#easyButton {
    background-color:  #4CAF50;
    color: white;
}

#mediumButton{
    background-color: rgb(236, 153, 0);
    color: white;
}

#hardButton{
    background-color: red;
    color: white;
}

.button:hover{
    transform: scale(1.2);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
}

.level:active{
    transform: scale(1.1);
}

#gotomenu{
    background-color: rgb(92, 67, 5);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;

}

#gotomenu:hover{
    transform: scale(1.2);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
}

#gotomenu:active{
    transform: scale(1.1);
}
