body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image/forest.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#title-form{
    color: #ffd700;
    font-weight: bolder;
    font-size: 35px;
}

input{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border:1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

button{
    background: #4CAF50;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
}

#submit-btn:hover{
    background-color:  rgb(111,77,13);
}

.btn-toggle {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

img{
    height: 55px;
    width: 55px;
    cursor: pointer;
}

#google-login{
    background: none;
    margin-top: 0px;
}

p{
    color: #ddd;
    font-weight: bold;
}
